sage
gmon.out
input/treefiles
output/results
sage.qsub
cmd_file
output/extraresults.py
output/growth.py
output/discplots.py
output/*.pyc
autocalibration/

chi2.dat
chi2_H2.png
chi2_HI.png
chi2_stars.png
chisqr.py
chisqranalysis.py
cleanup.py
darksage
gridofmodels.py
gridofmodels2.py
gridofmodels2fix.py
gridofmodels3.py
gridofmodels4.py
gridofmodels4b.py
code/core_allvars_old.h
code/core_build_model_BACKUP_75026.c
code/core_build_model_BACKUP_92425.c
code/core_build_model_BASE_75026.c
code/core_build_model_BASE_92425.c
code/core_build_model_LOCAL_75026.c
code/core_build_model_LOCAL_92425.c
code/core_build_model_REMOTE_75026.c
code/core_build_model_REMOTE_92425.c
code/core_save.c.orig
code/model_misc_old.c
test
Screen Shot 2019-01-31 at 4.10.58 pm.png
